{% extends 'catalog/base.html' %}
{% block content %}
<dif class="container">
    <dif class="row">
        <dif class="col-6">
            <form class="row" method="post" enctype="multipart/form-data">
                <dif class="card">
                    <dif class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </dif>
                    <button type="submit" class="btn btn-primary">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>
                </dif>
                {% if object %}
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                Версия продукта
                            </h3>
                        </div>
                        <div class="card-body">
                            {{ formset.management_form}}
                            {% for form in formset.forms %}
                            {{ form.as_p }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </form>
        </dif>
    </dif>
</dif>
{% endblock%}